@charset "UTF-8";
/*
* 1-setting
*/
/*
#Variables color

@color-default #333
@color-base #f7f7f7
@color-border #ccc

@color-main #825794
@color-sub #ffbb4d
@color-caution #e74c3c

@color-facebook #305097
@color-twitter #00aced
@color-line #00c300
@color-instagram #325C86
*/
/*
* Variables except color
*/
/*
* Variables font
*/
/*
* 2-mixin
*/
/*
* 3-base
*/
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: break-all; }

div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: bottom; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div,
address,
iframe,
canvas,
hr,
textarea {
  display: block; }

iframe {
  max-width: 100% !important; }

img,
embed,
object,
video {
  max-width: 100%; }

a,
label {
  cursor: pointer; }

blockquote {
  padding: 0;
  margin: 0;
  display: block; }

address,
em {
  font-style: normal; }

hr {
  border: 0;
  margin: 0;
  padding: 0; }

ul,
ol,
li {
  list-style: none; }

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: 0; }

input,
button,
select {
  vertical-align: middle;
  border-radius: 0;
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

*:before,
*:after {
  padding: 0;
  margin: 0;
  line-height: 1; }

* {
  box-sizing: border-box; }

br {
  font-size: 0; }

::selection {
  background: #ccc;
  color: #fff; }

html {
  font-size: 62.5%;
  min-height: 100%;
  /*
    width: 100%;
	*/ }

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: #fff;
  color: #333;
  width: 100%;
  letter-spacing: 0.02em; }

input,
button,
select,
textarea {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus,
div:focus,
aside:focus {
  outline: none; }

a {
  color: #19d68d;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.for-no-js,
.for-old {
  text-align: center;
  width: 100%;
  background: #000;
  color: #fff;
  height: 40px;
  line-height: 40px;
  z-index: 11; }

.for-old {
  display: none; }
  .lt-ie9 .for-old {
    display: block; }

/*
* 4-layout
*/
/*
l-container
*/
.l-container {
  width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative; }

/*
l-footer
*/
.l-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 10px; }
  .l-footer.l-footer-mt {
    margin-top: 50px; }
  .l-footer.l-footer-mt-sm {
    margin-top: 30px; }
  .l-footer.l-footer-mt {
    margin-top: 70px; }

/*
l-header
*/
.l-header {
  background-color: #fff;
  padding: 20px;
  border-bottom: 2px solid #efefef; }
  .l-header .l-header-left {
    float: left; }
  .l-header .l-header-right {
    float: right;
    width: 50%; }
  .l-header.l-header-mb {
    margin-bottom: 50px; }
  .l-header.l-header-mb-sm {
    margin-bottom: 30px; }
  .l-header.l-header-mb-l {
    margin-bottom: 70px; }

/*
#overview
l-grid
*/
/*
#styleguide
l-grid
style comment.

```
<div class="l-grid">
	<ul class="l-grid-inner">
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
	</ul>
</div>

<div class="l-grid l-grid-col3">
	<ul class="l-grid-inner">
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
	</ul>
</div>

<div class="l-grid l-grid-col6 l-grid-lg-col4 l-grid-md-col3 l-grid-sm-col2">
	<ul class="l-grid-inner">
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
		<li class="l-grid-item">
			<img src="http://placekitten.com/200/200" alt="">
		</li>
	</ul>
</div>
```
*/
.l-grid {
  text-align: center;
  /* Break point large */
  /* Break point medium */
  /* Break point small */ }
  .l-grid .l-grid-inner {
    font-size: 0;
    letter-spacing: 0; }
  .l-grid .l-grid-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px; }
  .l-grid.l-grid-col2 .l-grid-item {
    width: 50%; }
    .android .l-grid.l-grid-col2 .l-grid-item {
      width: 49.99999%; }
  .l-grid.l-grid-col3 .l-grid-item {
    width: 33.3333%; }
  .l-grid.l-grid-col4 .l-grid-item {
    width: 25%; }
    .android .l-grid.l-grid-col4 .l-grid-item {
      width: 24.99999%; }
  .l-grid.l-grid-col5 .l-grid-item {
    width: 20%; }
    .android .l-grid.l-grid-col5 .l-grid-item {
      width: 19.99999%; }
  .l-grid.l-grid-col6 .l-grid-item {
    width: 16.6666%; }
  @media all and (max-width: 1024px) {
    .l-grid.l-grid-lg-col1 .l-grid-item {
      width: 100%; }
    .l-grid.l-grid-lg-col2 .l-grid-item {
      width: 50%; }
      .android .l-grid.l-grid-lg-col2 .l-grid-item {
        width: 49.99999%; }
    .l-grid.l-grid-lg-col3 .l-grid-item {
      width: 33.3333%; }
    .l-grid.l-grid-lg-col4 .l-grid-item {
      width: 25%; }
      .android .l-grid.l-grid-lg-col4 .l-grid-item {
        width: 24.99999%; }
    .l-grid.l-grid-lg-col5 .l-grid-item {
      width: 20%; }
      .android .l-grid.l-grid-lg-col5 .l-grid-item {
        width: 19.99999%; }
    .l-grid.l-grid-lg-col6 .l-grid-item {
      width: 16.6666%; } }
  @media all and (max-width: 780px) {
    .l-grid.l-grid-md-col1 .l-grid-item {
      width: 100%; }
    .l-grid.l-grid-md-col2 .l-grid-item {
      width: 50%; }
      .android .l-grid.l-grid-md-col2 .l-grid-item {
        width: 49.99999%; }
    .l-grid.l-grid-md-col3 .l-grid-item {
      width: 33.3333%; }
    .l-grid.l-grid-md-col4 .l-grid-item {
      width: 25%; }
      .android .l-grid.l-grid-md-col4 .l-grid-item {
        width: 24.99999%; }
    .l-grid.l-grid-md-col5 .l-grid-item {
      width: 20%; }
      .android .l-grid.l-grid-md-col5 .l-grid-item {
        width: 19.99999%; }
    .l-grid.l-grid-md-col6 .l-grid-item {
      width: 16.6666%; } }
  @media all and (max-width: 480px) {
    .l-grid.l-grid-sm-col1 .l-grid-item {
      width: 100%; }
    .l-grid.l-grid-sm-col2 .l-grid-item {
      width: 50%; }
      .android .l-grid.l-grid-sm-col2 .l-grid-item {
        width: 49.99999%; }
    .l-grid.l-grid-sm-col3 .l-grid-item {
      width: 33.3333%; }
    .l-grid.l-grid-sm-col4 .l-grid-item {
      width: 25%; }
      .android .l-grid.l-grid-sm-col4 .l-grid-item {
        width: 24.99999%; }
    .l-grid.l-grid-sm-col5 .l-grid-item {
      width: 20%; }
      .android .l-grid.l-grid-sm-col5 .l-grid-item {
        width: 19.99999%; }
    .l-grid.l-grid-sm-col6 .l-grid-item {
      width: 16.6666%; } }

/*
* 5-module
*/
/*
#overview
button
*/
/*
#styleguide
button
style comment.
```
<a class="button" href="">
    <span class="button-text">Button more</span>
</a>
```
*/
.button {
  display: inline-block;
  color: #fff;
  background-color: #19d68d;
  border-radius: 5px;
  padding: 10px 35px;
  box-shadow: 0 5px 0 #0e7b51;
  transition-property: box-shadow, transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out; }
  .button:hover {
    text-decoration: none;
    transform: translate3d(0, 5px, 0);
    box-shadow: 0 0 0 #0e7b51; }

/*
* 6-utility
*/
/*
Utility

This means helper class like a snippet.
Utility should always have the prefix "u-".
And you should not feel free to add a new Utility class.
*/
.u-hidden {
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap; }

.u-clear {
  zoom: 1; }
  .u-clear:before, .u-clear:after {
    content: "";
    display: block; }
  .u-clear:after {
    clear: both; }

.u-elps {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis; }

.u-notap {
  -webkit-tap-highlight-color: transparent; }
